name: Publish PointMint Plugin

on:
  push:
    branches: [ main ]
    paths:
      - 'package.json'

jobs:
  build-and-publish:
    runs-on: windows-latest
    steps:
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Check version
        run: |
          python -c "import json
          with open('package.json') as f:
          j=json.load(f)
          if 'dev' in j.get('version'):
              raise Exception('Dev ver')"
        
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          registry-url: 'https://registry.npmjs.org'

      - name: Get package version
        id: get_version
        working-directory: external/pointmint
        run: echo "VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Build and publish
        working-directory: external/pointmint
        if: steps.get_version.outputs.VERSION != '' && !contains(steps.get_version.outputs.VERSION, 'dev')
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm install
          npm run build
          npm run pub
